

<nav>
    <div class="nav-center">
        <div class="nav-header">
            <h3 class="logo"><a href="/">MovieApp</a></h3>
            
            <div class="nav-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <ul class="links">
            <% if(!logged) { %>
                
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/about">about</a></li>
            <% } else { %>
                <li><a href="/home">Movies</a></li>
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/about">about</a></li>
                

                <div>
                    <div class="user-information">
                        <div class="userbutton">
                            <button class="userbtn"><i class="fa-solid fa-user"></i></button>
                        </div>
                        <div class="information hide">
                            <ul>
                
                                <li><a href="/omatTiedot">Omat tiedot</a></li>
                
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <%}%>
            
        </ul>
    </div>
</nav>



<script>
    const navToggle = document.querySelector('.nav-toggle');
    const links = document.querySelector('.links');

    navToggle.addEventListener('click', function () {
        links.classList.toggle('show-links');
    })

    // user information
        const userBtn = document.querySelector('.userbtn')
        const userInfo = document.querySelector('.information')
        userBtn.addEventListener('click', function () {

            userInfo.classList.toggle('hide');
            userInfo.classList.toggle('test');

        })

</script>