<!DOCTYPE html>
<html lang="en">

<!-- include head -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- Include navbar -->
        <%- include('./partials/nav.ejs') %>


            <main>
                <div class="about-article">
                    <article>
                        <h1>Film data</h1>
                        <p>
                        All film-related metadata used in MovieApp, including actor, director and studio names, synopses, release dates,
                        trailers and poster art is supplied by <a href="https://www.themoviedb.org/" target="">The Movie Database (TMDb).</a> 
                        </p>
                        <div class="logo">
                            <img class="tmdb-logo" src="TMDB.svg" alt="Logo">
                            <p>MoviaApp uses the TMDb API but is not endorsed or certified by TMDb.</p>
                        </div>
                    </article>
                </div>


            </main>

    </body>

</html>