<!DOCTYPE html>
<html lang="en">

<!-- include head -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- Include navbar -->
        <%- include('./partials/nav.ejs') %>


            <main>
                
                <article class="about-article">
                    <h1>Film data</h1>
                    <p>Film data
                    All film-related metadata used in Letterboxd, including actor, director and studio names, synopses, release dates,
                    trailers and poster art is supplied by <a href="https://www.themoviedb.org/" target="_blank">The Movie Database (TMDb).</a></p>
                </article>


            </main>

    </body>

</html>