<!DOCTYPE html>
<html lang="en">
<!--  include head -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- include navbar -->
        <%- include('./partials/nav.ejs') %>

            <main>
                <section class="deleteUser-form">
                    <form action="/deleteAccount" method="POST">

                        <% if(error.length <=0) { %>

                            <div class="error-message error-hide">
                                <p>
                                    <%= error %>
                                </p>
                            </div>

                            <% } else { %>
                                <div class="error-message">
                                    <p>
                                        <%= error %>
                                    </p>
                                </div>
                                <% } %>

                                    <h1>Delete you account</h1>

                                    <div>
                                        <label for="password">Password:</label>
                                        <input type="password" id="password" name="password" placeholder="Password"
                                            required>
                                    </div>

                                    <div>
                                        <label for="passwordRepeat">Repeat password</label>
                                        <input type="password" id="passwordRepeat" name="passwordRepeat" placeholder="password repeat"
                                            required>
                                    </div>


                                    <button type="submit">vaihda salasana</button>
                    </form>
                </section>
            </main>

    </body>

</html>