<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head.ejs') %>

<body>

    <!-- include navbar -->
    <%- include('./partials/nav.ejs') %>

    <h1><%= message %></h1>

    <header>
        <form id="form" action="/home" method="POST">
            <input type="text" placeholder="Search" id="search" class="search" name="search">
        </form>
    </header>

    <main id="main">

        <div class="movie">
            <img src="/medium-cover.jpg" alt="Image">

            <div class="movie-info">
                <h3>Movie titleee</h3>
                <span class="green">9.2</span>
            </div>

            <div class="overview">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab vero cumque, commodi nihil illo iste. Dolores mollitia iste a excepturi.
            </div>

        </div>


    </main>
    

    <script>
        
    </script>
</body>
</html>