<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head.ejs') %>

<body>

    <!-- include navbar -->
    <%- include('./partials/nav.ejs') %>

    <h1><%= message %></h1>

    <header>
        <form id="form" action="/home" method="POST">
            <input type="text" placeholder="Search" id="search" class="search" name="search">
        </form>
    </header>

    <main id="main">

        <% for (let i = 0; i < movieTitle.length; i++) { %>
            <div class="movie">
                <img src="/medium-cover.jpg" alt="Image">
            
                <div class="movie-info">
                    <h3><%= movieTitle[i] %></h3>
                    <span class="green">9.8</span>
                </div>
                
                <div class="overview">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor dolorum maiores deserunt! Asperiores rerum vero qui
                    deserunt odio sit cupiditate!
                </div>
            </div>
            
        <% } %>


    </main>
    

    <script>
        
    </script>
</body>
</html>