<!DOCTYPE html>
<html lang="en">

<!-- include head -->
<%- include('./partials/head.ejs') %>

<body>

    <!-- Include navbar -->
    <%- include('./partials/nav.ejs') %>
    
    
        <main>
            <section>
                <article class="welcome-text">
                    
                    <div class="blur">
                        <h1>Tervetuloa MoviaApp sivustolle</h1>
                        <p>MovieApp sivustolla näet suosituimmat uudet elokuvat, voit etsiä elokuvia nimellä ja lisätä elokuvia sinun suosikki listaasi. Ensiksi sinun on tehtävä käyttäjätunnus sivulle jotta pääset selaamaan elokuvia</p>
                        
                    </div>

                    
                </article>

            </section>

            <section class="index-secondS">

                <article class="secondsS-first">
                    <h2>Ajankohtaiset elokuvat</h2>
                    <p>Kirjauduttuasi sivustolle näet sivulla uudet ajankohtaiset elokuvat ja niitten arvostelut. Viemällä hiiren elokuvan päälle näet elokuvan yleiskatsauksen. Puhelimella elokuvaa on klikattava jotta yleiskatsaus aukeaa </p>
                </article>


                <article class="secondsS-second">
                    <h2>Lisää suosikkeihin</h2>
                    <p>Jokaisen elokuvan yläpuolella on "lisää suosikkeihin" nappi jota klikkaamalla lisäät elokuvat sinun suosikki listallesi. Kun olet katsonut elokuvan tai et halua pitää sitä suosikeissa niin voit poistaa halutun elokuvan </p>
                </article>

            </section>
            


        </main>
    
</body>
</html>