<!DOCTYPE html>
<html lang="en">

<!-- include head -->
<%- include('./partials/head.ejs') %>

<body>

    <!-- Include navbar -->
    <%- include('./partials/nav.ejs') %>
    
    
        <main>
            <section>

                <article>
                    <h1>Tervetuloa MoviaApp sivustolle</h1>
                    <p>Tällä sivustolla voit etsiä elokuvia ja näet niitten arvostelut</p>
                </article>

            </section>

            <section class="index-secondS">

                <article>
                    <h2>Tähä tulee jotai</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque doloremque quo molestiae quaerat cum repudiandae quos fugit quidem, ducimus unde?</p>
                </article>


                <article>
                    <h2>tähä jotai</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, sed!</p>
                </article>

            </section>
            


        </main>
    
</body>
</html>