<!DOCTYPE html>
<html lang="en">
<!--  include hear -->
<%- include('./partials/head.ejs') %>
<body>

    <!-- include navbar -->
    <%- include('./partials/nav.ejs') %>
    <main>

        <section class="login-form">
            
            <form action="/login" method="POST">
                <h1>login</h1>
                <div>
                    <% if (error) { %>
                        <p>Username or password is incorrect</p>
                    <% } %>
                </div>
                <div>
                    <label for="username">username</label>
                    <input type="text" id="username" name="username" placeholder="username" required>
                </div>
                
                <div>
                    <label for="password">password</label>
                    <input type="password" id="password" name="password" placeholder="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </section>
    </main>
</body>
</html>