<!DOCTYPE html>
<html lang="en">
<!--  include head -->
<%- include('./partials/head.ejs') %>
<body>

    <!-- include navbar -->
    <%- include('./partials/nav.ejs') %>
    
    <main>
        
        <section class="register-form">
            <form action="/register" method="POST">

                <% if(error.length <= 0) { %>
                    <div class="error-message error-hide">
                     <p><%= error %></p>
                    </div>    
                <% } else { %>
                    <div class="error-message">
                        <p>
                            <%= error %>
                        </p>
                    </div>
                <% } %>
                
                <h1>register</h1>
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="username" required>
                </div>
                <div>
                    <label for="email">email</label>
                    <input type="text" id="email" name="email" placeholder="email" required>
                </div>
                <div>
                    <label for="password">password</label>
                    <input type="password" id="password" name="password" placeholder="password" required>
                </div>
                <button type="submit">register</button>
            </form>
        </section>
    </main>
    
</body>
</html>