
:root {
    --nav-background : rgb(34, 33, 33);
    --white: #fff;
    --primary-color: #22254b;
        --secondary-color: #373b69;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color:var(--nav-background);
    
}
main {
    margin: 0 auto;
    
}


section {
    
    text-align: center;
    padding: 3rem;
}


.nav-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.logo a {
    font-size: 1.9rem;
    letter-spacing: 3px;
    color: var(--white);
    text-decoration: none;
}

.nav-toggle div {
    width: 20px;
    height: 4px;
    margin: 5px;
    background: var(--white);
}

.links a {
    color: var(--white);
    font-size: 1.5rem;
    text-transform: capitalize;
    display:block;
    padding: 0.5rem 1rem;
}

.links {
    margin-right: 10px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}

.show-links {
    height: 40rem;
}

/* 
//////////////////////////////////
///////// index page /////////////
*/

.index-secondS {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.index-secondS article {
    
    width: 100%;
    
}
.index-secondS p {
    margin: 0 auto;
    width: 50%;
    
}



/* 
///////////////////////////////////
/// Login page ///////////////////
/////////////////////////////////
*/

.login-form form, .register-form form {
    margin: 0 auto;
    width: 100%;
    padding: 50px 30px;
    background-image: linear-gradient(to bottom, #0ab48f, #09705f);
    max-width: 400px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.login-form form h1,
.register-form form h1 {
    color: var(--white);
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.login-form form label,
.register-form form label {
    display:block;
    color: var(--white);
    font-size: 14px;
    margin: 10px 0;
}

.login-form form input,
.register-form form input {
    appearance: none;
    background: none;
    outline:none;
    border: none;
}

.login-form form input,
.register-form form input {
    display:block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    transition: 0.4s;
    color: #222;
    font-size: 18px;
    font-weight: 300;
}
.login-form form input::placeholder,
.register-form form input::placeholder {
    color: var(--white)  
}

.login-form form input:focus,
.register-form form input:focus{
    background-color: var(--white);
    box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
}

.login-form form button,
.register-form form button {
    display: block;
    border: none;
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #2F4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    cursor:pointer;
}
@media screen and (min-width:785px) {

    .nav-toggle {
        display:none;
    }
    .nav-center {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .links {
        height: auto;
        display: flex;
        flex-direction: row;
        
    }
    .links li{
        list-style: none;
        
    }
    .links li a {
        text-decoration: none;
    }

    /* 
    /////////////////////////////////
    ///////Movie///////////////////
    /////////////////////////////

    */
                main {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
        
                .movie {
                    width: 300px;
                    margin: 1rem;
                    border-radius: 3px;
                    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
                    background-color: var(--secondary-color);
                    position: relative;
                    overflow: hidden;
                }
        
                .movie img {
                    width: 100%;
        
                }
        
                .movie-info {
                    color: rgb(17, 17, 17);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.5rem 1rem 1rem;
                    letter-spacing: 0.5px;
                }
        
                .movie-info h3 {
                    margin-top: 0;
        
                }
        
                .movie-info span {
                    background-color: var(--primary-color);
                    padding: 0.25rem 0.5rem;
                    border-radius: 3px;
                    font-weight: bold;
        
                }
        
                .movie-info span.green {
                    color: lightgreen;
                }
        
                .movie-info span.orange {
                    color: orange;
                }
        
                .movie-info span.red {
                    color: red;
                }
        
                .overview {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #fff;
                    padding: 2rem;
                    max-height: 100%;
                    transform: translateY(101%);
                    transition: transform 0.3s ease-in;
                }
        
                .movie:hover .overview {
                    transform: translateY(0);
                }

    

}